html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

#content{
  opacity: 0%;
}
a {
  text-decoration: none;
}

body{
  background-color: rgb(20, 20, 20);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}

canvas {
  display: block;
}

#title{
  position: relative;
  display: block;
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
  font-size: 50px;
  padding-left: 80px;
  padding-top: 100px;
  color: white;
}

.subtitle{
  position: relative;
  display: block;
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
  font-size: 42px;
  padding-left: 80px;
  padding-top: 5px;
  color: white;
}

#rect{
  display: block;
  position: relative;
  background:#e8af3d;
  width: 600px;
  height: 600px;
  border-radius: 50%;
  top: 100px;
  left: 150px;
}

#circleover
{
  display: block;
  position: absolute;
  background:#2b0904;
  width: 550px;
  height: 550px;
  border-radius: 50%;
  top: 20px;
  left: 10px;
  opacity: 0%;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}

#circleover:hover{
   opacity: 100%;

}

#dragon{
  opacity: 0%;
  display: block;
  position: absolute;
  width: 40%;
  height: auto;
  padding-left: 750px;
  padding-top: 100px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;

}

#story{
  padding-top: 250px;
  padding-left: 50px;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  width: 700px;
}

#tex{
  padding-top: 20px;
  padding-left: 50px;
  padding-bottom: 50px;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  width: 700px;
}

#titlelegend{
  padding-top: 40px;
  padding-left: 50px;
  padding-bottom: 50px;
  text-align: center;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  font-weight: bold;
}

.vl{
  border-top: 6px solid white;
  width: 100%;
}

#legend{
  margin: none;
  width: 400px;
  height: auto;
  padding-top: 70px;
  padding-left: 100px;
  padding-bottom: 50px;
}

#legend2{
  position: absolute;
  display: block;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  width: 700px;
  left: 720px;
  top: 1410px;
}

#eclypsetype{
  position: absolute;
  display: block;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  width: 700px;
  left: 720px;
  top: 1510px;
}

#typemeaning{ 
  opacity: 60%; 
  position: absolute;
  display: block;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  width: 700px;
  left: 720px;
  top: 1640px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}

#typemeaning:hover{
  opacity: 100%;
}

#textbutton{
  position: absolute;
  display: block;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  width: 700px;
  top: 1500px;
  left: 1100px;

}

#sun{
  position: absolute;
  display: block;
  width: 110px;
  height: 110px;
  top: 1550px;
  left: 1150px;
  background-color: #e8af3d;
  border-radius: 50%;
}

#moon{
  opacity: 0%;
  position: absolute;
  display: block;
  width: 100px;
  height: 100px;
  top: 1555px;
  left: 1155px;
  background-color: #2b0904;
  border-radius: 50%;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}

#moon:hover{
opacity: 100%;
cursor: pointer;
 
}

#backhome{
  opacity: 40%;
  display: block;
  position: absolute;
  font-family: 'Montserrat', sans-serif;
  right: 0px;
  bottom: 20px;
  width: 200px;
  height: 30px;
  text-align: center;
  color: white;
  padding-top: 10px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}

#backhome:hover{
  opacity: 100%;
  cursor: pointer;
}